*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.btn{
    background-color: #dd0000;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    border: none;
}

/* Animation */
@keyframes banner_animation {
    0%{
opacity: 0;
transform: translate(-20px);
    }
50%{
opacity: 0.5;
transform: translate(-10px);
}
100%{
opacity: 1;
transform: translate(0px);
}
}

/* Animation_player  */
@keyframes banner_animation_player {
    0%{
opacity: 0.5;
transform: translate(-20px);
    }
50%{
opacity: 0.7;
transform: translate(-10px);
}
100%{
opacity: 1;
transform: translate(0px);
}
}




/* Custom style */
.banner{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 15px;
    margin: 50px auto ;

animation: banner_animation 0.7s ease-out forwards ;

}
.banner_left h2 {
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
}
.banner_left p {
font-size: 16px;
color: #FFFFFF;
max-width: 65%;
margin-top: 20px;
margin-bottom: 30px;
margin-left: 0;
margin-right: 0;
}
.banner_left{
    padding-left: 45px;
    flex: 1;
}
img{
    max-width: 100%;
}
.banner_right {
    flex: 1;
}
.banner_right img {
    display: block;
    animation: banner_animation_player 1s ease-in infinite;
}
/* Upcoming matches */
.upcoming_matches{
    display: flex;
  
    padding: 50px 0;
    gap: 20px;
}
.upcoming_matches_left{
background-color: black;
width: 25%;
display: flex;
flex-direction: column;
gap: 10px;
padding: 15px;
border-radius: 15px;
height: fit-content;
}

.upcoming_matches_left .btn:nth-child(1) ,
.upcoming_matches_left .btn:nth-child(2) 
{ background-color: white;
    color: black;}


.upcoming_matches_right{
display: grid;
grid-template-columns: repeat(3,1fr);
flex: 1;
gap: 10px;
}
.upcoming_matches_right .card{
border: 1px solid rgb(232,232,232);
border-radius: 10px;
}
.upcoming_matches_right .card .btn{
background-color: white;
color: black;
border: 2px solid black;
pad: 8px 157px;
margin-top: 10px;
}
.upcoming_matches_right img{
height: 180px;
width: 100%;
border-radius: 10px 10px 0 0;
}
.upcoming_matches_right .card h2{
margin: 15px 0;
font-size: 18px;
font-weight: 600;
}
.card_bottom{
    display: flex;
    gap: 10px;
    color: #161616cc;
}
.card_body{
    padding: 20px;
}

/* Laptop / Tab */
@media  (max-width:992px) {
/* Container */
 .container{
    margin: 0 20px;
}
.banner h2 {
    font-size: 50px;
    line-height: 50px;
}




    .upcoming_matches{
        flex-direction: column;
    }
    .upcoming_matches_left{
        flex-direction: row;
        width: 100%;
        background-color: transparent;
    }
    .upcoming_matches_left > * {
        flex: 1;
    }
    .upcoming_matches_left .btn{
        border: 1px solid rgb(232, 232, 232);
    }
    .upcoming_matches_right {
        grid-template-columns: repeat(2,1fr);
    }
}

/* Nav  */


nav ul {
  display: flex;
  list-style: none;
  gap: 10px  ;
  justify-content: center;

}
nav {
  background-color: black;
  padding: 15px 0;
  font-weight: 600;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover{
  color: purple;
  transition: 0.5s;
}











/* Mobile */

@media (max-width:768px) {
/* Container */
 .container{
    margin: 0 10px;
}v

    .banner{
        flex-direction: column;
        text-align: center;
    }
    .banner .banner_left {
        margin-bottom: 50px;
        padding-left: 0 ;
        padding-top: 30px;
    }
 .banner .banner_left p {
    margin: 15px auto;
 
}
.upcoming_matches_left{
    display: flex;
    flex-direction: column;
}
.upcoming_matches_right{
  grid-template-columns: 1fr;
}
}
